* {
    font-family: 'Roboto', sans-serif;
}

.quiz {
    background-image: url("./assets/world.png");
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 10vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    color: darkgray;
}

.items {
    display: flex;
    height: 20vw;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container {
}

.card {
    position: relative;
    height: 6vw;
    width: 6vw;
    transition: all 1s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}


.front, .back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    color: beige;
    text-align: center;
}

.front {
    background-image: linear-gradient(lightpink, hotpink);
    backface-visibility: hidden;
    z-index: 1;
}

.back {
    background-image: linear-gradient(lightblue, blueviolet);
    z-index: 0;
    transform: rotateY(180deg);
}

.container:hover .card {
    transform: rotateY(180deg);
}

